.App {
  font-family: Helvetica, Arial, sans-serif;
  color: #FAFAFA;
  text-align: center;
  margin-top: 200px;
}

body {
  background-color: rgba(30, 70, 200, 0.9);
}

.attribute {
  font-weight: bold;
}

button {
  background-color: rgba(60, 70, 200, 0.9);
  padding: 5px;
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  border: 3px solid #FAFAFA;
}
